body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}
.navigation-container {
  width: 250px;
  flex: 0;
}
.app-space {
  width: 100%;
}
.link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0;
}
