.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100%
}
.AppBar {
  height: 64px !important;
}
.content {
  flex: 1;
  display: flex;
}
.webViewContainer {
  width: 50%;
}
.webView {
  width: 100%;
  height: 100%;
}
