body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launch-button {
  display: block;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  /*background-color: #F6E821;*/
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 30px;
  /*Button properties copied*/
  border:1px solid #CE9A01;
    -webkit-box-shadow: #FFF563 0px 1px 0px inset;
    -moz-box-shadow: #FFF563 0px 1px 0px inset; 
  box-shadow: #FFF563 0px 1px 0px inset; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
  border-radius: 10px;
  font-family:arial, helvetica, sans-serif; 
  padding: 7px 14px 7px 14px; 
  text-decoration:none; 
  display:inline-block;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.44);
  font-weight:bold; 
  color: #63460C;
  background-color: #FFD65E; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD65E), to(#FEBF04));
  background-image: -webkit-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -moz-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -ms-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: -o-linear-gradient(top, #FFD65E, #FEBF04);
  background-image: linear-gradient(to bottom, #FFD65E, #FEBF04);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD65E, endColorstr=#FEBF04);
}
.launch-button:hover {
  border:1px solid #CE9A01;
  background-color: #FFC92B; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC92B), to(#CE9A01));
  background-image: -webkit-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -moz-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -ms-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: -o-linear-gradient(top, #FFC92B, #CE9A01);
  background-image: linear-gradient(to bottom, #FFC92B, #CE9A01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFC92B, endColorstr=#CE9A01);
}