.settingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.settingsSection {
  margin: 10px 10px 0 10px;
  padding: 10px 0;
}

.sectionHeader {
  margin: 0 24px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #896c3d;
  border-bottom: 2px solid #896c3d;
}

.singleSettingContainer {
  padding: 10px 24px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.folderIcon {
  width: 20%;
}

.folderSelectionText {
  margin: 0 10px;
  padding: 0 24px;
  width: 80%;
  height: 48px;
  border-radius: 24px;
  line-height: 48px;
  font-style: italic;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.selectMenu {
  width: 20%;
}

.selectText {
  width: 80%;
  margin: 0 10px;
  height: 48px;
  border-radius: 24px;
  line-height: 48px;
  font-weight: 500;
}

.textFieldNumber {
  width: 100px !important;
}

.footer{
  display: flex;
  justify-content: flex-end;
  margin: 0 44px;
}
